<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Una Maravić" />
    <meta name="description" content="kickboxing klubovi" />
    <meta name="keywords" content="klub, kickboxing, trener, član" />

    <title><%= title %></title>
	
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">

	
</head>
<body>
    <div class="naslov">
        <h1> Kickboxing klubovi </h1>
    </div>
    <div class="opis"> 
        <p> Ovaj skup podataka sadrži najvažnije informacije o kickboxing klubovima, te podatke o njihovim trenerima i članovima. Podaci su dostupni u CSV i JSON formatu, a možete ih preuzeti na linkovima ispod.</p>
        <h4>Opis skupa podataka</h4>
        <ul>
            <li>Tema: kickboxing klubovi </li>
            <li>Kategorija: sport </li>
            <li>Autor: Una Maravić - una.maravic@fer.hr </li>
            <li>Jezik: hrvatski </li>
            <li>Licencija: <a class="bijela_poveznica" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 - 1.0 license </a></li>
            <li>Datum preuzimanja podataka:  31.10.2022. </li>
            <li>Ključne riječi: klub, kickboxing, trener, član </li>
            <li>Dostupni formati podataka: CSV, JSON   </li>
            <li>Posljednja izmjena podataka: 10.11.2022. </li>
        </ul> 
    </div>
    <div class="poveznica">
        <span>Preuzmi skup podataka u </span>
        <a href="/kickboxing-klubovi.csv" download>CSV formatu</a>
    </div>
    <div class="poveznica2">
        <span>Preuzmi skup podataka u </span>
        <a href="/kickboxing-klubovi.json" download>JSON formatu</a>
    </div>
    <div class="datatable">
        <a class="bijela_poveznica" href="/datatable" >Ovdje</a>
        <span> možete pogledati i filtrirati podatke. </span>
    </div>
    <div class="slika">
        <img src="./images/logo.png">
    </div>
</body>
</html>